body {
  background-color: rgb(22, 27, 24);
  position: relative;
  vertical-align: center;
  width: 100%;
  align-content: center;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}

a, h2 {
  color:red;
  text-decoration: none;
}

.bio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 20px;
}

.card-group {
  padding: 20px;
  margin: 20px;
}

.card img {
  aspect-ratio: 4/3;
  width:100%;
  height: inherit;
}

.myHead {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#bioText {
  color:white;
  text-align: justify;
  margin-right: 40px;
}

#myWrap {
  margin: 20px;
  padding: 20px;
  background-color: rgb(41, 42, 45);
  border-radius: 15px;
  color: white;
  text-align: center;
}

#profile {
  height: 40px;
}

.myHead h1 {
  color: white;
}

@media (min-width: 890px) {
  p {
    text-align: left;
  }

  .bio {
    grid-template-columns: 50% 50% !important;
    grid-template-rows: auto auto;
  }

}