body {
  background-color: rgb(22, 27, 24);
  position: relative;
  vertical-align: center;
  width: 100%;
  align-content: center;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
}

a, h2 {
  color:red;
  text-decoration: none;
}

.bio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 20px;
}

.card-group {
  padding: 20px;
  margin: 5px 20px 20px 20px;
  max-height: 400px;
}

.card img {
  width: 100%;
  aspect-ratio: 4/3;
  align-self: center;
}

.myHead {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  color: white;
}

#bioText {
  color: black;
  text-align: justify;
  margin-right: 40px;
  z-index: 10;
}

#myWrap {
  margin: 20px;
  padding: 20px;
  background-color: rgb(41, 42, 45);
  border-radius: 15px;
  color: white;
  text-align: center;
}

#profile {
  background-image: url(Profile.jpg);
  opacity: 70%;
  margin-right: 20px !important;
  padding: 20px;
  background-size: 100% 100%;
  border-radius: 20px;
}

@media (min-width: 890px) {
  .bio {
    grid-template-columns: 50% 50% !important;
    grid-template-rows: auto auto;
  }

  #bioText {
    width: 100%;
  }
}